<div class="container">
	<h3><a href="/" style="color: black;">{{ site.texture.title }}</a></h3>
	<!--<h2>{{ site.texture.tagline }}</h2>-->
<!--	
	<ul class="social">
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.linkedIn -%}
			<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.instagram -%}
			<a href="https://instagram.com/{{ site.texture.social_links.instagram }}"><li><i class="icon-instagram-squared"></i></li></a>
		{%- endif -%}		
		{%- if site.texture.social_links.twitter -%}
			<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
		{%- endif -%}
	</ul>
-->
</div>

<div class="container">
	<br>
	<div style="float:left;width:200px;margin-right:10px;">
		<ul>
			<li style="list-style-type:none; margin-left: -15px;"><a href="https://raw.githubusercontent.com/byeongjokim/byeongjokim.github.io/master/assets/pdf/ByeongjoKim_CV.pdf">CV(KOR)</a></li>
			<li style="list-style-type:none; margin-left: -15px;">
				<a href="https://github.com/{{ site.texture.social_links.github }}"><i class="icon-github-circled"></i></a>
				<a href="https://linkedin.com/in/{{ site.texture.social_links.linkedIn }}"><i class="icon-linkedin-squared"></i></a>
			</li>			
			<li style="list-style-type:none; margin-left: -15px; width:150px"><hr></li>
			<li style="list-style-type:none; margin-left: -15px;"><a href="/categories/Life">Life</a></li>
		</ul>
	</div>
	<div style="float:left;width:200px;margin-right:10px;">
		<ul>
			<li style="list-style-type:none; margin-left: -15px;"><a href="#">Deep Learning</a></li>
			<li class=""><a href="/categories/Paper">Paper Review</a></li>
			<li class=""><a href="/categories/Theory">Theory</a></li>
			<li class=""><a href="/categories/Others">Others</a></li>
		</ul>
	</div>
	<div style="float:left;width:200px;margin-right:10px;">
		<ul>
			<li style="list-style-type:none; margin-left: -15px;"><a href="#">MLOps</a></li>
			<li class=""><a href="/categories/CI-CD">CI/CD</a></li>
			<li class=""><a href="/categories/Kubernetes">Kubernetes/Kubeflow</a></li>
			<li class=""><a href="/categories/MLOps_Error">Error</a></li>	
		</ul>
	</div>
	<div style="float:left;width:200px;margin-right:10px;">
		<ul>
			<li style="list-style-type:none; margin-left: -15px;"><a href="#">Programming</a></li>
			<li class=""><a href="/categories/Development">Development</a></li>
			<li class=""><a href="/categories/Problems">Problems</a></li>
			<li class=""><a href="/categories/Error">Error</a></li>
		</ul>
	</div>
</div>
