<div class="container">
	<h3><a href="/" style="color: black;">{{ site.texture.title }}</a></h3>
	<!--<h2>{{ site.texture.tagline }}</h2>-->
<!--	
	<ul class="social">
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.linkedIn -%}
			<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.instagram -%}
			<a href="https://instagram.com/{{ site.texture.social_links.instagram }}"><li><i class="icon-instagram-squared"></i></li></a>
		{%- endif -%}		
		{%- if site.texture.social_links.twitter -%}
			<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
		{%- endif -%}
	</ul>
-->
</div>

<div class="container">
	<br>
	<ul class="category">
		<li class=""><a href="https://raw.githubusercontent.com/byeongjokim/byeongjokim.github.io/master/assets/pdf/ByeongjoKim_CV.pdf">About me</a></li>
		<li style="list-style-type:none; width:80px"><hr></li>
		{% for category in site.categories %}
		<li class=""><a href="/categories/{{category | first}}">{{category | first}}</a></li>
		{% endfor %}
	</ul>
</div>
